<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    
    <div class="container">
      <a class="navbar-brand" href="#">Trang Chủ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          

          <li class="nav-item" *ngIf="!isLogin">
            <a class="nav-link" type="button" (click) = "displayloginform()" >Đăng Nhập</a>
          </li>
          
          <li class="nav-item" *ngIf="!isLogin">
            <a class="nav-link" type="button" (click) = "displayreigisterform()" >Đăng Ký</a>
          </li>
          
          <li class="nav-item"  *ngIf = "Roles =='ADMIN' && isLogin" >
            <a class="nav-link" type="button" href="javascript:void(0)" routerLink="/admin">Admin page</a>
          </li>
          <li class="nav-item" *ngIf="isLogin" >
            <a class="nav-link" type="button"  >Hello {{user.ten}}</a>
            <ul class="dropdown parentlogin" style="width: 220px;">
              <li><a href="javascript:void(0)" (click) = "changeProfile()">Sửa Thông Tin Cá Nhân</a></li>
              <li><a href="javascript:void(0)" routerLink="/trangchu/lichsugiaodich">Lịch Sử Giao Dịch</a></li>
              <li><a href="javascript:void(0)" (click) = "goToBasket()">Giỏ Hàng</a></li>
            </ul>
          </li>
          
          <li class="nav-item" *ngIf="isLogin" >
            <a class="nav-link" type="button" (click) = "logout()" >Thoát</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    
    <div class="row">
      <div class="col-lg-3">

        <h1 class="my-4">JATIVESHOP</h1>
        <div class="list-group" *ngFor = "let catelog of cateLogs">
          <a href="javascript:void(0)" style="text-decoration: none;" (click) = "getCategoryProduct(catelog)" class="list-group-item">{{catelog.name}}</a>

        </div>
        
        <p style="margin:0px;margin-top: 15px;">Tìm Kiếm Theo Từ Khóa</p>
        <div>
          <input class="form-control mr-sm-2" [(ngModel)]="keyWordSearch" type="text" placeholder="Từ Khóa" aria-label="Search" style="width: 100%;">
          <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit" (click) = "findProductsbyKeyWord()" >Tìm kiếm</button>
        </div>


        <p style="margin:0px;margin-top: 15px;">Tìm Kiếm Theo Giá</p>
        <div class="form-inline md-form mr-auto mb-4" >
          <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchPrice1" placeholder="Giá Từ" aria-label="Search" style="width: 45%;">
          <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchPrice2" placeholder="Đến" aria-label="Search" style="width: 45%;margin-left: 3%;">
          <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit" (click) = "findProductsbyPrice()" >Tìm kiếm</button>
        </div>

        

        

        

      </div>

      

      <div class="col-lg-9 app-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



  <div class="container">
    


 <div class="modal fade login" id="loginModal">
      <div class="modal-dialog login animated">
          <div class="modal-content">
             <div class="modal-header" style="display: block;">
                    <button style="padding-right: 5px;padding-top: 5px;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                         <div class="content">
                          <!-- <div class="error"></div> -->
                          <div  *ngIf="alert != ''" class="alert alert-{{alert}}" role="alert">
                              <div>{{message}}</div>

                          </div>
                            <div class="form loginBox">
                                <form method="" action="" accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="formlogin.username">
                                <input id="password" class="form-control" type="password" placeholder="Pass word" name="password" [(ngModel)]="formlogin.password" >
                                <input class="btn btn-default btn-login" type="button" value="Login" (click) = "login()">
                                </form>
                            </div>
                         </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                         <div class="form">
                            <form method="" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
                              <input id ="FName" class="form-control" [(ngModel)] = "formlogout.ho" type = "text" placeholder="First Name" name = "firstname">
                              <input id ="LName" class="form-control" [(ngModel)] = "formlogout.ten" type = "text" placeholder="Last Name" name = "lastname">
                              <input id ="email" class="form-control" [(ngModel)] = "formlogout.email" type = "text" placeholder="Email" name = "email">
                              <small>số điện thoại VN(có 10 số và bắt đầu bằng 0)</small>
                              <input id ="phonenumber" class="form-control" [(ngModel)] = "formlogout.sdt" type = "text" placeholder="Phone Number" name = "phonenumber">
                              <small>tài khoản phải có tối đa 6 ký tự</small>
                              <input id="username" class="form-control" [(ngModel)] = "formlogout.username" type="text" placeholder="Username" name="username">
                              <small>mật khẩu phải có tối đa 6 ký tự, có ít nhất 1 chữ thường và 1 chữ hoa </small>
                              <input id="password" class="form-control" [(ngModel)] = "formlogout.password" type="password" placeholder="Password" name="password">
                              <input id="password_confirmation" class="form-control" [(ngModel)] = "formlogout.passwordRepeat" type="password" placeholder="Repeat Password" name="password_confirmation">
                              

                              <input class="btn btn-default btn-register" type="button" value="Create account" (click) = "comfirmLogout()" name="commit">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                        <span>Looking to
                             <a href="javascript:void(0)" (click)="showRegisterForm()" >create an account</a>
                        ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                         <span>Already have an account?</span>
                         <a href="javascript:void(0)" (click)="showLoginForm()">Login</a>
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>



<!--Dialog-->
<div class="modal" id ="logout" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)= "createAccount()" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  


  <!-- /.container -->

  

</body>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>

</html>



