<div class="container"> 
    <table id="cart" class="table table-hover table-condensed"> 
     <thead> 
      <tr> 
       <th style="width:55%">Tên sản phẩm</th> 
       <th style="width:15%">Giá</th> 
       <th style="width:12%">Số lượng</th> 
       <th style="width:18%" class="text-center">Thành tiền</th> 
      </tr> 
     </thead> 
     <tbody> 
        <!-- <tr *ngIf = "this.products.length == 0"> 
            <td data-th="Product"> 
             <div class="row"> 
              <div class="col-sm-2 hidden-xs">
                  <img src="{{productData.productImgLink}}" alt="Sản phẩm 1" class="img-responsive" width="100">
              </div> 
              <div class="col-sm-10"> 
               <p class="nomargin" >{{productData.productname}}</p> 
              </div> 
             </div> 
            </td> 
            <td data-th="Price">{{productData.price}}</td> 
            <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
            </td> 
            <td data-th="Subtotal" class="text-center">{{productData.price}}</td> 
        </tr> -->


     <tr *ngFor = "let product of products; let i = index"> 
      <td data-th="Product"> 
       <div class="row"> 
        <div class="col-sm-2 hidden-xs">
            <img src="{{product.productImgLink}}" alt="Sản phẩm 1" class="img-responsive" width="100">
        </div> 
        <div class="col-sm-10"> 
         <p class="nomargin" >{{product.productname}}</p> 
        </div> 
       </div> 
      </td> 
      <td data-th="Price">{{product.price}}</td> 
      <td data-th="Price">{{product.productInventory}}</td> 

      <td data-th="Subtotal" class="text-center" >{{amount(product)}}</td>
      <td><button type="button" class="btn btn-danger" (click) = "DeleteProductBasket(product)">Xóa</button></td> 
     </tr>

     
     
     <tfoot> 
      <tr class="visible-xs"> 
       <td class="text-center"><strong>Tổng </strong>
       </td> 
      </tr> 
      <tr> 
       <td><a (click)=  "BuyAnotherProduct()" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
       </td> 
       <td colspan="2" class="hidden-xs"> </td> 
       <td class="hidden-xs text-center" ><strong>{{totalAmount}}</strong>
       </td> 
       <td><a href="javascript:void(0)" (click) = "getPay()" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a>
       </td> 
      </tr> 
     </tfoot> 
    </table>
   </div>
