 
 
 <div class="card mt-4">
      
      <img class="card-img-top img-fluid" *ngIf ="productImfo.productImgLink != ''" src="{{productImfo.productImgLink}}" alt="">
      <img class="card-img-top img-fluid" *ngIf ="productImfo.productImgLink == ''" src="http://placehold.it/900x400" alt="">

      <div class="card-body">
        <h3 class="card-title" style="color: #0366d6;">{{productImfo.productname}}</h3>
        <h4>${{productImfo.price}}</h4>
        <p class="card-text" [innerHTML] = "productImfo.description"></p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars
      </div>
      <div>
        <input style="width: 5%;" height="100%" value="1" type="number" [(ngModel)]="soluongdathang">
        <button type="button" class="dathang" (click) = (dathang())>Đặt Hàng</button>
      </div>
      
    </div>
    <!-- /.card -->


    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        <h4 style="color: #0366d6;">DESCRIPTION</h4>
      </div>
      <div class="card-body" >
        <p [innerHTML] = "productImfo.productcontent"></p>
       
      </div>
    </div>


    <div class="card card-outline-secondary my-4">
      <div class="card-header" style="color: #0366d6;">
        Product Reviews
      </div>
      <div class="card-body">
        <div *ngFor = "let comment of listComment">
          <p>{{comment.commentContent}}</p>
          <small class="text-muted">Posted by {{comment.userName}} on {{comment.timeComment}}</small>
          <div style="right: 0px;">
            <button class = "btn btn-sm btn-danger" *ngIf = "role == 'ADMIN'" (click) = "removeComment(comment)">Xóa</button>
          </div>
          <hr>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1" style="color: #0366d6;">Write your Reviews</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #titleInput ></textarea>
        </div>
        <a  class="btn btn-success" (click) = "CreateComment(titleInput.value)">Comment</a>
      </div>
    </div>


